<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="static/CSS/Style.css">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <title>BOI-BiyagamaZone</title>
    <link rel="icon" href="{{ url_for('static', filename='Images/boi.jpg') }}" type="image/x-icon">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        li {
            padding-bottom: 5px;
        }
    </style>
</head>
<body>

<h2 style="margin-left: 1rem; padding-top: 8px; margin-top: 20px; font-weight: bolder;color: #277e1b">Industrial
    Relations Department</h2>

<section style="height: 80%">
    <div id="accordion" style="margin-top: 40px">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-dep-sub collapsed" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="false"
                            aria-controls="collapseOne">
                        Industrial Relations Department Staff
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>Senior Deputy Director (SDD)</th>
                            <td>D.C.Renuka Dassanayake</td>
                        </tr>
                        <tr>
                            <th rowspan="2">Deputy Director (DD)</th>
                            <td>H.A.T.Rohitha</td>
                        </tr>
                        <tr>
                            <td>Nethma Yasara Dissanayake</td>
                        </tr>
                        <tr>
                            <th>Assistant Director (AD)</th>
                            <td>L.Ranjula Balasooriya</td>
                        </tr>
                        <tr>
                            <th rowspan="2">Management Assistant</th>
                            <td>K.P.Chandu Chintha</td>
                        </tr>
                        <tr>
                            <td>K.D.Nimmi Udenika</td>
                        </tr>
                        <tr>
                            <th>Office Aide</th>
                            <td>I.M.Sarath Padmasiri</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-dep-sub collapsed" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                        Responsibilities
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <ul>
                        <li>Promote and maintain healthy and harmonious Industrial Relations climate within the BOI
                            companies under the purview of the Department.(Inside the zone 56 companies and outside the
                            zone 200 companies)
                        </li>
                        <li>Carrying out periodical inspections of enterprises to ascertain the compliance of the
                            provisions of labour laws and standards given in the BOI Manual on Industrial Relations, and
                            taking appropriate steps to rectify any shortcomings in enterprises.
                        </li>
                        <li>Monitoring to ensure the settlement of EPF & ETF contributions by the enterprises properly.
                            If any defaulters are available, inform the relevant authorities and remind the enterprise
                            management to follow the procedure by calling discussions with the related officers of such
                            enterprises.
                        </li>
                        <li>Giving advices to the enterprises on formation/operation of Employees Councils, and monitor
                            the progress and promote effective employer-employee relations through the Councils
                        </li>
                        <li>Investigating complaints by employees of enterprises and take appropriate steps to resolve
                            worker grievances.
                        </li>
                        <li>Providing necessary advices to settle industrial disputes as per BOI guidelines and with the
                            assistance of the Department of Labour.
                        </li>
                        <li>Organising worker education programmes and seminars to create awareness on the rights and
                            duties of employees and to promote social dialogue and work place co-operation in the
                            enterprises.
                        </li>
                        <li>Facilitating the enterprises for recruitment of employees at the Employment Service Unit and
                            conduct Orientation programme for newly recruited employees in consultation with the
                            relevant authorities.
                        </li>
                        <li>Promoting to participate for recruitment assistance programmes through Job Bank and Job
                            Fairs.
                        </li>
                        <li>Co-ordinating and encouraging to participate BEPZ employees for medical clinics, health
                            programmes conducted by “Suwa Piyasa” at BEPZ & MOH Office – Biyagama.
                        </li>
                        <li>Managing/monitoring of administration and maintenance functions of “Kantha Sevana” women
                            hostel through Hostel Management Association made by the officers of BOI – BEPZ Industrial
                            Relations Dept. and BEPZ Membership Enterprises.
                        </li>
                        <li>Managing/monitoring of administration and maintenance functions of Child care Centre with
                            Pre-School through a Management Association made by the officers of BOI – BEPZ Industrial
                            Relations Dept. and BEPZ Membership Enterprises.
                        </li>
                        <li>Issuing gate passes for the resigned employees to enter the zone and meet Human
                            Resources/Personal Officers of BEPZ Enterprises.
                        </li>
                        <li>Promote and maintain healthy and harmonious Industrial Relations climate within the BOI
                            companies under the purview of the Department.(Inside the zone 56 companies and outside the
                            zone 200 companies)
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
    // Get the button
    let mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>