<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="static/CSS/Style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <title>BOI-BiyagamaZone</title>
    <link rel="icon" href="{{ url_for('static', filename='Images/boi.jpg') }}" type="image/x-icon">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        li {
            padding-bottom: 5px;
        }
    </style>
</head>
<body>

<h2 style="margin-left: 1rem; padding-top: 8px; margin-top: 20px; font-weight: bolder;color: #277e1b">Investor Services
    Department</h2>

<section style="height: 80%">
    <div id="accordion" style="margin-top: 40px">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-dep-sub" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="false"
                            aria-controls="collapseOne">
                        Department Staff
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>Senior Deputy Director (SDD)</th>
                            <td></td>
                            <td colspan="2">Mr. Bandula Jayasekara</td>
                        </tr>
                        <tr>
                            <th rowspan="12"><u>Documentation Unit</u></th>
                            <th rowspan="2">Deputy Director</th>
                            <td>Harsha D Thennkone</td>
                        </tr>
                        <tr>
                            <td>Mrs. M.K.A. Malkanthi</td>
                        </tr>
                        <tr>
                            <th rowspan="2">Assistant Director</th>
                            <td>Mr. Jayanga Patabendi</td>
                        </tr>
                        <tr>
                            <td>Mrs. Nimalika Yapabandara</td>
                        </tr>
                        <tr>
                            <th rowspan="5">Executive Assistant</th>
                            <td>Mrs. Damayanthi Alwis</td>
                        </tr>
                        <tr>
                            <td>Mrs. A V G Jinoma Kumari</td>
                        </tr>
                        <tr>
                            <td>Mrs. Geethani Samanmali</td>
                        </tr>
                        <tr>
                            <td>Mrs.Nayandara Karunarathne</td>
                        </tr>
                        <tr>
                            <td>Mr. Bhathiya de Zoysa</td>
                        </tr>
                        <tr>
                            <th>Management Assistant</th>
                            <td>Mr. I T Jayaruwan</td>
                        </tr>
                        <tr>
                            <th>Office Aide</th>
                            <td>Mr. B.M.Nandasena</td>
                        </tr>
                        <tr>
                            <th>Driver</th>
                            <td>Mr. Wasantha Liyanage</td>
                        </tr>
                        <tr>
                            <th rowspan="9"><u>Verification Unit</u></th>
                            <th rowspan="2">Deputy Director</th>
                            <td>Mr. Upul Perera</td>
                        </tr>
                        <tr>
                            <td>Mr.Sanjaya De Saram</td>
                        </tr>
                        <tr>
                            <th>Assistant Director</th>
                            <td>Mr.Sujeewa Asurumana</td>
                        </tr>
                        <tr>
                            <th rowspan="3">Management Assistant</th>
                            <td>Mr.Chaminda Amarasinghe</td>
                        </tr>
                        <tr>
                            <td>Mr. Nalin Suranga</td>
                        </tr>
                        <tr>
                            <td>Mr.Rukshan Bastian</td>
                        </tr>
                        <tr>
                            <th rowspan="2">Office Aide</th>
                            <td>Mr.P.K Vithanage</td>
                        </tr>
                        <tr>
                            <td>Mr.Premalal</td>
                        </tr>
                        <tr>
                            <th>Verification Officers</th>
                            <td>VOs (06 Nos)</td>
                        </tr>


                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-dep-sub" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                        Responsibilities
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <dl>
                        <dt><u>Documentation</u></dt>
                        <dd>
                            <ul>
                                <li>Authorization of Import and Export CUSDECs and other requested through web portal,
                                    submitted by the enterprises.
                                </li>
                                <li>Facilitation of Indirect Export.</li>
                            </ul>
                        </dd>
                        <dt><u>Verification</u></dt>
                        <dd>
                            <ul>
                                <li>Verifying of Import and Export Cargo.</li>
                                <li>Updating the ASY World system after verification of Import/Export cargo.</li>
                                <li>Maintaining of records relating to subcontract, Repairs and Return, Processing and
                                    return, Temporary Storage.
                                </li>
                                <li>Issuing of relevant gate passes for In/Out cargo/good from BEPZ.</li>
                            </ul>
                        </dd>
                        <dt><u>Services</u></dt>
                        <dd>
                            <ul>
                                <li>Approval process such as; Local sales, Disposal, subcontract activities, Repair and
                                    returns, processing and returns, Temporary storage.
                                </li>
                                <li>Issuing recommendation for expatriate visas to foreign expatriates.</li>
                                <li>Approving of purchasing through local agents and bonded warehouses.</li>
                                <li>
                                    <dl>
                                        <dd>Liaise with Internal department of BOI as well as outside government/private
                                            organization such as:
                                        </dd>
                                        <dd>
                                            <ul>
                                                <li>Sri Lanka Customs</li>
                                                <li>Department of Inland Revenue</li>
                                                <li>Sri Lanka Ports Authority</li>
                                                <li>National Quarantine Department.</li>
                                                <li>National Fertilizer Secretariat and etc… in order to solve the
                                                    day-to-day issues
                                                    of the investors.
                                                </li>
                                            </ul>
                                        </dd>

                                    </dl>
                                </li>


                                <li>Provide required information to Internal department as well as outside government
                                    organizations as and when necessary.
                                </li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
    // Get the button
    let mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>